@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

.heart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(135deg, #B52B2E, #FF7BAC);
    color: white;
}

.title {
    font-family: "Kurale", serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #3D3C3C;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 2px 2px 0px #3D3C3C;
}

.circle-image:hover {
    box-shadow: 0px 0px 200px #fff;
    transition: box-shadow 0.2s ease-in-out;
}

.heart-container {
    position: relative;
    font-family: "Kurale", serif;
    line-height: 1.1;
    white-space: pre;
    font-size: 1rem;
}

.heart-emoji {
    position: absolute;
    font-size: 2rem;
    animation: float 2s ease-in-out forwards;
}

@keyframes float {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5) translateY(-100px);
        opacity: 0;
    }
}

.heart-line {
    display: flex;
    justify-content: center;
}

.heart-char {
    color: white;
    transition: color 0.3s ease-in-out;
    text-shadow: 2px 2px 0px #3D3C3C;
}

.heart-container:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

